.player {
    &.active {
        .player__splash {
            display: none;
        }
    }
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.player__splash {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../../img/content/how-work/player__splash.jpg) center center/cover no-repeat;
    cursor: pointer;
}

.player__controls {
    background: #3e3e3e;
    position: absolute;
    bottom: 0;
    width: 100%;
    bottom: 0;
    align-items: center;
    display: flex;
    height: rem(30px);
}

.player__button-play {
    background: transparent;
    width: rem(50px);
    height: rem(30px);
    outline: none;
    border: none;
    padding: 0;
    position: relative;
    &_icon {
        position: absolute;
        top: rem(-5px);
        left: rem(-25px);
        max-height: 140%;
        width: 227%;
        cursor: pointer;
    }
}

.paused {
    &,
    &::before {
        width: rem(5px);
        height: rem(20px);
        border-radius: rem(5px);
        background-color: #626262;
    }
    &,
    &::before {
        content: "";
        position: absolute;
        display: block;
    }
    & {
        left: rem(20px);
    }
    &::before {
        left: rem(8px);
        top: 0;
    }
    .player__button-play_icon {
        display: none;
    }
}

.player__progress {
    position: absolute;
    left: rem(55px);
    width: rem(380px);
    height: rem(4px);
    border-radius: rem(3px);
    background: #626262;
    cursor: pointer;
    &-runner {
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
        position: absolute;
        left: 0;
        bottom: rem(-5px);
        background: #626262;
        cursor: pointer;
    }
}

.player__volume-button {
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    position: absolute;
    right: rem(170px);
    bottom: rem(-12px);
    cursor: pointer;
    &_icon {
        width: rem(44px);
        height: rem(44px);
       
    }
}

.player__volume-slider {
    position: absolute;
    left: rem(40px);
    width: rem(100px);
    height: rem(4px);
    border-radius: rem(3px);
    background: #626262;
    top: rem(19px);
    cursor: pointer;
    &-runner {
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
        position: absolute;
        left: 0;
        bottom: rem(-5px);
        background: #626262;
        cursor: pointer;
    }
}

.mute {
    position: absolute;
    right: rem(20px);
    top: rem(5px);
    width: rem(15px);
    height: rem(15px);
    opacity: 0.7;
    cursor: pointer;
    display: none;
    &.active-mute {
        display: block;
    }
    &:before,
    &:after {
        position: absolute;
        left: rem(15px);
        content: '';
        height: rem(30px);
        width: rem(5px);
        background-color: $red;
        border-radius: rem(3px);
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.player__duration {
    position: absolute;
    right: rem(5px);
    color: #626262;
    font-size: rem(11px);
    font-family: 'Ubuntu';
    font-weight: 500;
}