.arrow-scroll {
    &__left {
        position: absolute;
        top: 40%;
        left: 2%;
    }
    &__right {
        position: absolute;
        top: 40%;
        right: 2%;
    }
}

.arrow-scroll__down {
    position: absolute;
    bottom: -8%;
    left: 50%;
}

.arrow-scroll__icon {
    width: rem(29px);
    &-left {
        transform: rotate(90deg);
    }
    &-right {
        transform: rotate(-90deg);
    }
}