.hero {
    background: url('../img/hero-bg.jpg') center center no-repeat;
    background-size: cover;
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.hero__order-btn {
    margin-left: 14px;
    margin-bottom: 10px;

    &:hover {
        background: #c1401e;
    }
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .75;
    padding-left: 15px;
}

.hero__content-img {
    margin-right: 15px;
}

.hero__content-text {
    padding-top: 60px;
}

.hero__content-description {
    color: #fff;
    font-size: 63px;
    font-family: 'Lifehack-Medium';
    letter-spacing: -0.4px;
    line-height: 1;
    font-weight: 500;
}