.hero {
    background: url('../img/hero-bg.jpg') center center no-repeat;
    background-size: cover;
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.logo-icon {
    width: rem(92px);
    height: rem(69px);
}

.hero__order-btn {
    margin-left: rem(14px);
    margin-bottom: rem(10px);
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .6;
    padding-left: rem(15px);
}

.hero__content-img {
    margin-right: rem(15px);
}

.hero__content-text {
    padding-top: rem(60px);
}

.hero__content-description {
    color: #fff;
    font-size: rem(63px);
    font-family: 'Lifehack';
    font-weight: 500;
    letter-spacing: rem(-1.63px);
    line-height: 1;
}